@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

@using (Html.BeginForm())
{
    <div>
        <label for="NombreUsuario">Usuario:</label>
        <input type="text" name="NombreUsuario" required /><br />

        <label for="Contraseña">Contraseña:</label>
        <input type="password" name="Contraseña" required /><br />

        <input type="submit" value="Iniciar Sesión" /><br />

        @if (ViewBag.ErrorMessage != null)
        {
            <p style="color:red;">@ViewBag.ErrorMessage</p>
        }
    </div>
}
