/*
    Este archivo es para los estilos de El login y la página de registrarse
*/
.login-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

form {
    display: flex;
    flex-direction: column;
}

label, input {
    margin-bottom: 10px;
}

button {
    padding: 10px;
    background-color: #5c67f2;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

footer {
    margin-top: 20px;
}

    footer p {
        margin: 5px 0;
    }
