@model IEnumerable<Parte3.Models.Producto>

<h2>Menú</h2>

<table>
    <thead>
        <tr>
            <th>Producto</th>
            <th>Descripción</th>
            <th>Precio</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var producto in Model)
        {
            <tr>
                <td>@producto.Nombre_Producto</td>
                <td>@producto.Descripcion_del_Producto</td>
                <td>@producto.Precio_Unitario.ToString("C")</td>
                <td>
                    @Html.ActionLink("Agregar al Pedido", "AgregarAlPedido", new { id = producto.ProductoID })
                </td>
            </tr>
        }
    </tbody>
</table>


