
@{
    ViewBag.Title = "Mantenimiento de las Tablas de la BDD";
}

<h2>Ir al mantenimiento de registro de ... </h2>

<p>@Html.ActionLink("... Categoria de Productos", "../Categories/Index")</p>
<p>@Html.ActionLink("... Proveedores de Productos", "../Suppliers/Index")</p>
<p>@Html.ActionLink("... Productos", "../Products/Index")</p>
