
@{
    ViewBag.Title = "Mantenimiento de Tablas de la BDD";
}

<h2>Ir al mantenimiento de registro de...</h2>
<p>@Html.ActionLink("... Categorias de Productos", "../Categories/Index")</p>
<p>@Html.ActionLink("... Proveedores de Productos", "../Suppliers/Index")</p>
<p>@Html.ActionLink("... Productos", "../Products/Index")</p>