@model IEnumerable<Parte3.Models.Pedido>

<h2>Historial de Compras</h2>

<table>
    <thead>
        <tr>
            <th>ID Pedido</th>
            <th>Fecha</th>
            <th>Total a Pagar</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var pedido in Model)
        {
            <tr>
                <td>@pedido.IDPedido</td>
                <td>@pedido.FechaPedido.ToShortDateString()</td>
                <td>@pedido.TotalPagar</td>
            </tr>
        }
    </tbody>
</table>


