@{
    ViewBag.Title = "Página Principal";
}

<h2>Bienvenido al Sistema de Gestión</h2>

<p>
    <a href="/Categories/Index">Administrar Categorías</a>
</p>
<p>
    <a href="/Suppliers/Index">Administrar Proveedores</a>
</p>
<p>
    <a href="/Products/Index">Administrar Productos</a>
</p>
