
@{
    ViewBag.Title = "SelectUserType";
}

<h2>Seleccionar tipo de usuario</h2>
<div>
    <a href="@Url.Action("Login", "Auth")">Iniciar sesión como cliente</a>
</div>
<div>
    <a href="@Url.Action("Login", "Auth")">Iniciar sesión como empleado</a>
</div>
