<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - TheTemperTrap</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="header">
        <h1>TheTemperTrap</h1>
    </div>
    <div class="content">
        @RenderBody()
    </div>
</body>
</html>