<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - TurnoverTicket</title>
    <!--Iconos-->
</head>
<body>
    <div class="all-content">
            @RenderBody();
    </div>
        <script src="~/Content/js/bootstrap.min.js"></script>
</body>
</html>